.header-component{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        font-size: 2.625rem;
        margin-top: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 57px;
        color: #000000;
        margin-top: 1.4rem;
    
        &::after {
    
            content: '';
            min-width: 80%;
            width: 100%;
            color: #000000;
            border: 1px solid rgba(0, 0, 0, 0.25);
            margin-top: 30px;
            height: 1px;
        }
    
    }
}

